<!DOCTYPE html>
<html>
  <head>
    <title>Bandland</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= favicon_link_tag asset_path('bandland_favicon3.png'), :rel => 'icon', :type =>  'image/png' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
